
ss10-1/ss10-1/.idea/gradle.xml
ss10-1/ss10-1/.idea/misc.xml
ss10-1/ss10-1/.idea/vcs.xml
ss10-1/ss10-1/build.gradle
ss10-1/ss10-1/gradle/wrapper/gradle-wrapper.jar
ss10-1/ss10-1/gradle/wrapper/gradle-wrapper.properties
ss10-1/ss10-1/gradlew
ss10-1/ss10-1/gradlew.bat
ss10-1/ss10-1/settings.gradle
ss10-1/ss10-1/src/main/resources/META-INF/beans.xml
ss10-1/ss10-1/src/main/webapp/WEB-INF/web.xml
ss10-1/ss10-1/gradle/wrapper/gradle-wrapper.jar
