@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.head img {
    width: 8em;
    height: 8em;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
}

.category nav {
    background-color: darkgray;
    padding: 10px 0;
    width: 74%;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
}

.category ul {
    list-style: none;
    padding: 0;
    margin-left: 130px;
    display: flex;
}

.category li a {
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #1240d6;
    text-decoration: none;
}

.search input {
    width: 50%;
    margin-left: 285px;
    background: white;
    border: 2px solid #00ccff;
    border-radius: 10px;
    outline: none;
    color: black;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15em;
}

.search button {
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
}

.latest fieldset {
    width: 1100px;
    height: auto;
    margin: auto;
    border-color: brown;
    border-radius: 10px;
}

.latest legend {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.latest img {
    width: 100px;
    height: 150px;
    padding: 3px;
}

.manga-list fieldset {
    border-radius: 10px;
    margin-top: 30px;
    height: 800px;
}

.manga-list legend {
    text-align: center;
    font-weight: 600;
}